<div class="container">
  <h1 class="quote">Drop your quote!</h1>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let quote of quotes; let i = index">
        <div *ngIf="quote.upvotes == highest && highest > 0; then highlight else dont">
        </div>
        <ng-template #highlight>
          <div>
            <h6 appHighlight>{{ quote.quote }}</h6>
            <button (click)="toggleDetails(i)" class="btn btn-primary">
              Toggle Details
            </button>
          </div>
          <div *ngIf="quote.showdetails">
            <quotes-details [quote]="quote" (ifSure)="deleteTheQuote($event, i)"></quotes-details>
            <p>added :{{ quote.today | time }} ago</p>
          </div>
        </ng-template>
        <ng-template #dont>
          <div>
            <h6>{{ quote.quote }}</h6>
            <button (click)="toggleDetails(i)" class="btn btn-primary">
              Toggle Details
            </button>
          </div>
          <div *ngIf="quote.showdetails">
            <quotes-details [quote]="quote" (ifSure)="deleteTheQuote($event, i)"></quotes-details>
            <p>added :{{ quote.today | time }} ago</p>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
  <div class="container-fluid">
    <h4 class="text-center">Encourage someone today!</h4>
    <hr />
    <form (ngSubmit)="submitQuote(goalForm)" #goalForm="ngForm">
      <div class="form-group">
        <label for="name">Aurthor</label>
        <input type="text" class="form-control" id="name" ngModel name="name" required />
      </div>
      <div class="form-group">
        <label for="quote">Quote</label>
        <textarea class="form-control" id="quote" rows="4" ngModel name="quote" required></textarea>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="4" ngModel name="description" required></textarea>
      </div>
      <button type="submit" class="btn btn-success">submit quote</button>
    </form>
  </div>

</div>

